@page "/"

<PageTitle>Home</PageTitle>

<QuoteDisplay Quote="@_introQuote" />

<br />
<div class="card bg-light">
    <div class="card-body">
        <h4 class="quote">Choose an option</h4>
        <p>
            <NavLink class="nav-link p-0" href="random">
                <h5 class="oi oi-random d-inline" aria-hidden="true"></h5>&nbsp;<h5 class="d-inline">Random</h5>
            </NavLink>
        </p>
        <p>
            <NavLink class="nav-link p-0" href="timer">
                <h5 class="oi oi-clock d-inline" aria-hidden="true"></h5>&nbsp;<h5 class="d-inline">Auto-refresh</h5>
            </NavLink>
        </p>
        <p>
            <NavLink class="nav-link p-0" href="search">
                <h5 class="oi oi-magnifying-glass d-inline" aria-hidden="true"></h5>&nbsp;<h5 class="d-inline">Search</h5>
            </NavLink>
        </p>
    </div>
</div>

@code {
    private ViewModels.ViewQuote _introQuote;

    protected override void OnInitialized()
    {
        _introQuote = new ViewModels.ViewQuote()
            {
                Text = "In.Faux Quote Generator",
                Description = @"In.Faux random quote generator can be used to display any type of information with an associated image. Maybe it's 'word of the day', 'an inspirational quote' with a photo, 'cat of the day', etc. You decide!"
            };
    }
}