<table class="table table-striped table-hover table-borderless">
    <tbody>
        @if (this.Quotes is not null)
        {
            foreach (var quote in this.Quotes)
            {
                <tr class="pointer" @onclick="@(e => DisplayQuoteAsync(quote))">
                    <td><span class="oi @(quote.SearchPanelVisibilityClass ?? ClosedIcon)"></span></td>
                    <td>
                        @quote.Text
                        @if (quote.SearchShowBusyIndicator == true)
                        {
                            <BusyIndicator />
                        }
                    </td>
                </tr>
                @if (quote.SearchShowResizedImage == true)
                {
                    <tr class="pointer" @onclick="@(e => DisplayQuoteAsync(quote))">
                        <td colspan="2">
                            <QuoteDisplay Quote="quote" />
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>