@inherits LayoutComponentBase
@inject IConfiguration Configuration
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-4">
            <div>@Body</div>
        </div>

        <div class="content px-4" id="footer">
            <div id="powered-by"><a href="https://www.noftware.com" target="_blank" title="Noftware Software website">Powered by in.faux | <img src="images/Noftware16.png" alt="Noftware logo" /> Noftware Software Ltd. &copy; @DateTime.Now.Year</a></div>
        </div>
    </div>
</div>
